Data_Coursera_CaseStudy02/dailyActivity_merged.csv
Data_Coursera_CaseStudy02/dailyCalories_merged.csv
Data_Coursera_CaseStudy02/dailyIntensities_merged.csv
Data_Coursera_CaseStudy02/dailySteps_merged.csv
Data_Coursera_CaseStudy02/heartrate_seconds_merged.csv
Data_Coursera_CaseStudy02/hourlyCalories_merged.csv
Data_Coursera_CaseStudy02/hourlyIntensities_merged.csv
Data_Coursera_CaseStudy02/hourlySteps_merged.csv
Data_Coursera_CaseStudy02/minuteCaloriesNarrow_merged.csv
Data_Coursera_CaseStudy02/minuteCaloriesWide_merged.csv
Data_Coursera_CaseStudy02/minuteIntensitiesNarrow_merged.csv
Data_Coursera_CaseStudy02/minuteIntensitiesWide_merged.csv
Data_Coursera_CaseStudy02/minuteMETsNarrow_merged.csv
Data_Coursera_CaseStudy02/minuteSleep_merged.csv
Data_Coursera_CaseStudy02/minuteStepsNarrow_merged.csv
Data_Coursera_CaseStudy02/minuteStepsWide_merged.csv
Data_Coursera_CaseStudy02/sleepDay_merged.csv
Data_Coursera_CaseStudy02/weightLogInfo_merged.csv
